importFrom(graphics, abline, axis, arrows, barplot, box, hist,
             image, layout, legend, lines, mtext, par, plot.new,
             plot.window, symbols, text, grid, points, title, rect)
importFrom(grDevices, colorRampPalette, rainbow)

importFrom(stats, cor, rnorm, pchisq, uniroot, var, setNames, cov2cor,
           residuals)
           
importFrom(utils, capture.output)


export(GPFoblq, GPForth, GPFRSoblq, GPFRSorth, Random.Start)

export(oblimin, quartimin, targetT, targetQ, pstT, pstQ, oblimax, binormamin,
       entropy, quartimax, Varimax, simplimax, bentlerT, bentlerQ,
       tandemI, tandemII, geominT, geominQ, bigeominT, bigeominQ,
       cfT, cfQ, infomaxT, infomaxQ, mccammon, bifactorT, bifactorQ,
       equamax, parsimax, varimin, lpT, lpQ, GPForth.lp, GPFoblq.lp, 
       eiv, echelon)
       
export(plot2fOrthComparison)

S3method(print,     GPArotation)
S3method(summary,   GPArotation)
S3method(print,     summary.GPArotation)
S3method(plot,      GPArotation)
S3method(residuals, GPArotation)
